html {
    font-family: "Montserrat", sans-serif;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    font-size: 16px;

}

body {
    margin: 0;

}

header {
    background-color: #02A28F;
    color: white;
    padding: .1rem 5rem;
    text-align: left;

}

footer {
    background-color: #02A28F;
    color: white;
    font-size: 0.2rem;
    text-align: center;

}

footer > div > p {
    padding: 0.6rem;
    font-size: 1rem;

}

h1 {
    font-size: 1.5rem;
    font-weight: 650;

}

h2 {
    margin: 0;
    padding: .5rem 0 .5rem 0;
    color: white;
    font-weight: 700;
    font-size: 2rem;

}
#bigger-img {
    object-fit: cover;
    max-height: 31vh;
}

.container {
  display: flex;
  gap: 2rem;
  justify-content: space-between;
  padding: 0.5rem 4rem;

}

.main-content {
    flex: 2;
    box-sizing: border-box;
   
}

.side-bar {
    margin-top: 1.5rem;
    flex: 1;
    display: flex;
    flex-direction: column;
    
}

.banner-article {
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0)), url(./img/background-img.png);
    border-radius: .5rem;
    position: relative;
    height: 50vh;
    background-size: cover;
    margin-top: 1.5rem;
  
}

.banner-article-info {
    position: absolute;
    bottom: 0.9rem;
    margin: 2rem;
    color: white;
    
}

.text-banner-article {
    color: white;
    margin: 0;

}

.nav-bar {
    background-color: #02A28F;
    color: white;
    border-radius: 0.5rem;
    padding: .1rem 2rem;
    font-size: 0.8rem;
    font-weight: 550;
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;

}

.nav-bar > a {
    color: white;
    font-size: 0.2;
    font-weight: 300;

}

.grid-posts {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    box-sizing: border-box;
    margin-top: .5rem;
    align-items: auto;

}

.green-text {
    color: #02A28F;
}

.posts {
    display: flex;
    flex-direction: column;
    background: #fff;
    border-radius: 0.5rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    text-align: left;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    object-fit: cover;
    align-content: center;

}

.posts img {
    width: 100%;
    border-radius: 0.5rem;
    margin-bottom: 0.75rem;
    max-height: 31vh;
    padding: 0 0 0 0 ;
    object-fit: cover;

}

.posts:hover {
    transform: translateY(-5px); 
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15); 

}

.title-posts-recents {
    font-size: 1.5rem;
    margin: 0.5rem 0;
    color: #333;                  
  }
  
.posts p {
    font-size: 0.9rem;
    color: #666;
    margin-bottom: 0.5rem;

  }

.side-bar-title {
    background-color: #02A28F;
    color: white;
    padding: .8rem 2rem;
    border-radius: .5rem;
    font-size: 0.7rem;
    margin: 0 0 0 0;
}

.side-bar-title > h3 {
    margin: 0;

}

.posts-populares {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.posts-sidebar {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1.4rem;
    margin-top: .8rem;
    box-sizing: border-box;
    padding: 0;
    border-radius: 0.5rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    
}

.posts-sidebar:hover {
    transform: translateY(-5px); 
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15); 
}

.text-side-bar {
    text-align: left;
}

.text-side-bar > h3 {
    font-size: 1rem;
}

.text-side-bar > p {
    font-size: .8rem;
}

.posts-populares img {
    max-height: 10vh;
    border-radius: .5rem;
    padding: 0.3rem 0;
    margin-left: .3rem;

}

.categorias ul {
    margin: 0 .5rem;
    padding: 0;
}

.categorias a li {
    margin: 1rem .5rem 0 ;
    font-size: 1rem;
    padding: 0;
    color: #616161;
    text-align: left;
    text-decoration: none;

}

.categorias a {
    text-decoration: none;

}

.categorias li span {
    font-weight: bold;
    text-align: right;
    position: absolute;
    right: 4.7rem;

}

@media only screen and (max-width: 767px) {
    h1 {
        font-size: 0.8rem;
        font-weight: 500;
        text-align: center;
    }

    h2 {
        font-size: 1rem;
        text-align: left;
        margin: .3rem .5rem .5rem 1rem;
        padding: 0;
       
    }

    .container {
        margin: 0 0 0 0;
        padding: 1rem .3rem;
        display: flex;
        flex-direction: column;

    }
    
    .banner-article {
        margin: 0;
        object-fit: cover;
        align-items: flex-start;
        
    }

    .text-banner-article{
        margin-left: 1rem;
        
    }

    .banner-article-info {
        margin: 0;
    
    }

    .grid-posts {
        margin: 0;
        display: flex;
        flex-direction: column;
    }

    .posts {
        margin: 1rem 0 ;
        padding: 0;
    }

    .posts > img {
        object-fit: cover;
    }

}

  
  